<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img alt="Logo Duoc UC" src="assets/duoc.jpg" height="30" />
    </ion-title>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>

<br>
<br>
<br>
<br>
<br>


    <ion-content>
      <ion-list>
        <ion-item *ngFor="let conductor of conductores">
          <ion-label>
            <h2>{{ conductor.nombreConductor }}</h2>
            <p>{{ conductor.Gmail}}</p>
            <p>{{ conductor.autoMarca }} - {{ conductor.autoPatente }}</p>
            <p>${{ conductor.vPersona }}</p>
            <ion-button>Seleccionar</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Obtener Dirección</ion-card-title>
      </ion-card-header>
      <div class="ion-padding">
        <ion-item>
          <ion-label>Latitud {{latitud}}</ion-label>
        </ion-item>
      </div>
    
      <div class="ion-padding">
        <ion-item>
          <ion-label>Longitud {{longitud}}</ion-label>
        </ion-item>
      </div>
    
      <div class="ion-padding">
        <ion-button expand="full" (click)="obtenerCoordenadas()">Obtener</ion-button>
      </div>
    </ion-card>

  </ion-content>

</ion-content>